<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <!-- Replace with your local machine's IP so Render can reach it -->
            <url>https://animation-race-king.ngrok-free.dev/loki/api/v1/push</url>
            <connectionTimeoutMs>60000</connectionTimeoutMs> 
            <requestTimeoutMs>15000</requestTimeoutMs>
            <batchMaxItems>1</batchMaxItems>
            <batchTimeoutMs>500</batchTimeoutMs>
        </http>
        <format>
            <label>
                <pattern>app=Stock-Pulse,host=${HOSTNAME},level=%level</pattern>
            </label>
            <message>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            </message>
        </format>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="LOKI" />
    </root>
</configuration>
